img {
  width: 100%;
  margin: 0 0 20px;
  border-radius: 5px;
}
a:link, a:visited {
  color: currentColor;
}
a:hover {
  text-decoration: none;
}
a:hover .card-title {
  color: rgb(17, 147, 156);
}
.owner {
  padding-left: 8%;
}
